@import '../../atoms/theme/settings.scss';
@import '../../atoms/theme/index.scss';

.container {
  @include container-right-base;
  @include flex(center, space-between);
  flex-wrap: wrap;
}
.item {
  position: relative;
  width: 49%;
  min-width: 220px;
  text-align: center;
  height: 200px;
  margin:  5px 0;
  &:before{
    @include before;
    background: $color-dark;
    width: 100%;
    height: 100%;
    border-radius: $radius*5;
    opacity: 0.7;
  }
  a  {
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $radius*5;
    }
  }
}

figcaption {
  
  font-size: 40px;

  .item_title {
    @include center; 
    width: 100%;
    z-index: 2;
    color: $color-light;
    font-family: $font-title;
    margin: 0;
  }
  .item_subtitle{
    @include center;
    top: 70%;
    width: 100%;
    z-index: 2;
    margin: 0;
    opacity: 0;
    font-family: $font-subtitle;
    color: $color-primary;
    
  }
  
}
.item:hover {
  .item_title {
    top:40%;
    transition: $transition;
  }
  .item_subtitle{
    transition: $transition;
    top: 65%; 
    text-transform: uppercase;
    opacity: 1;
    font-family: $font-subtitle;
    color: $color-primary;
    font-size: $base-size*1.5;
    &:before {
      @include before;
      position: relative;
      margin: auto;
      background: $color-primary;
      width: 20%;
      height: 2px;
      border-radius: $radius*5;
    }
  }
}

@media (max-width: 576px) {
  .container { 
    padding-right: 0;
    justify-content: center;
  }
}