@import '../../atoms/theme/settings.scss';
@import '../../atoms/theme/index.scss';


.container {
  @include container-left-base;
  .advantages{
    @include flex(center, space-between);
    flex-wrap: wrap;
    width: 100%;
    .advantage {
      width:33.33%;
      text-align: center;
      margin-top: 20px;
      &.hidden {display: none;}
      .icon {
        color: $color-secondary;
        font-size: 50px;
        padding: 5px;
      }
      .title {
        font-weight: 400;
        color: $color-primary;
      }
      .text {
        color: $color-light;
        padding: 10px;
      }
    }
  }
}

@media (max-width: 769px) {
  .container .advantages.advantage {
    width: 50%;
    &.hidden {display: block;}
  }
}
@media (max-width: 576px) {
  .container { 
    padding-left: 0;
    .advantages{
      justify-content: center;
      .advantage {
        width: 200px;
      }
    }
  }
}

