@import '../../atoms/theme/settings.scss';
@import '../../atoms/theme/index.scss';

.page{
  height: 100vh;
  @include background-image (url(https://i.postimg.cc/DwjNWbHB/selective-color-photography-of-pink-petaled-flower-1182338.jpg));
  @include flex (center, center);
  .card {
    width: 80%;
    min-width: 280px;
    max-width: 670px;
    height: 400px;
    background: $color-light;
    box-shadow: $box-shadow;
    border-radius:$radius;
    @include flex (center, center);
  }
}

.message {
  width: 100%;
  text-align: center;
  font-family: $font-subtitle;
  .title {
    font-weight: bold;
    font-family: $font-text;
    font-size: $base-size*3;
    color: $color-dark;
    position: relative;
    &:before {
      @include before;
      height: 250px;
      width: 250px;
      @include center;
      @include background-image(url(https://i.postimg.cc/FzbN57M4/flower-4771034-1280.png));
    }
  }
  .subtitle {
    margin: 0;
  }
  .text {
    color: $color-rose;
    text-transform: uppercase;
    font-family: $font-subtitle;
    padding-top: 20px;
    margin: 0px;
    font-size: $base-size*2;
  }
}