@import './settings.scss';
//@import url('../../components/Header/header.module.scss');
//@import url('../../components/Footer/footer.module.scss');


body {
    margin: 0;
    padding: 0;
    background: $color-light;
    font-family: $font-text;
    font-size: $base-size;
    line-height: 1.7;
    color: $color-dark;
    letter-spacing: 0.5px;
    overflow-y: scroll;
}

a, a:hover, a:visited {
    text-decoration: none;
}

*:hover, *:focus {
    transition: $transition;
}

