@import url('https://fonts.googleapis.com/css?family=Caveat|Dawning+of+a+New+Day|Merienda|Dosis|Satisfy|Nothing+You+Could+Do|PT+Sans|Spartan&display=swap');

$color-primary: #f6275D;
$color-secondary: #8593a7;
$color-dark: #201520; 
$color-light: #f3f7f3;
$color-rose: #B43D53;  

$font-title: 'Satisfy';
$font-subtitle: 'Dosis';
$font-text: 'PT Sans';

$radius: 5px;
$base-size: 16px;
$transition: all 5s;

@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin title1 {
  font-family: 'Satisfy';
  font-weight: 400;
  font-size: 65px; 
}
@mixin title2 {
  font-family: 'Caveat';
  font-weight: 400;
  font-size: 75px; 
}
@mixin title3 {
  font-family: 'Nothing You Could Do';
  font-weight: 600;
  font-size: 65px; 
}
@mixin title4 {
  font-family: 'Dawning of a New Day';
  font-weight: 600;
  font-size: 65px; 
}
@mixin title5 {
  font-family: 'Merienda';
  font-weight: 400;
  font-size: 55px; 
}