@import url('https://fonts.googleapis.com/css?family=Caveat|Dawning+of+a+New+Day|Merienda|Dosis|Satisfy|Nothing+You+Could+Do|PT+Sans|Spartan&display=swap');

$color-primary: #f6275D;
$color-secondary: #8593a7;
$color-dark: #201520; 
$color-light: #f3f7f3;
$color-rose: #B43D53;  

$font-title: 'Satisfy';
$font-subtitle: 'Dosis';
$font-text: 'PT Sans';

$radius: 5px;
$base-size: 16px;
$transition: all 0.4s;
$box-shadow: 0 5px 8px $color-dark;

@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin title {
  font-family: 'Satisfy';
  font-weight: 400;
  font-size: 65px; 
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} 

@mixin container {
  margin: auto;
  margin-bottom: 80px;
  max-width: 650px;
}

@mixin container-left-base {
  @include container;
  padding-left: 40px;  
  border-left: solid $color-rose;
}

@mixin container-right-base {
  @include container;
  padding-right: 40px;
  border-right: solid $color-rose;
}

@mixin background-image ($url) {
  background-image: $url;
  background-size: cover;
  background-position: center;
}

@mixin before {
  content: '';
  display: block;
  position: absolute;
}
