@import '../../atoms/theme/settings.scss';
@import '../../atoms/theme/index.scss';

.container {
  @include container-right-base;
  text-align: center;
  padding-right: 0;
}

.form_group {
  margin-bottom: 20px;
  label {
    display: block;
    margin-bottom: 10px;
    font-family: $font-title;
    font-size: $base-size*1.1;
  }
  .form_control {
    cursor: text;
    margin: auto;
    display: block;
    width: 70%;
    border: 2px solid $color-secondary;
    border-radius: $radius;
    padding: 10px 15px;
    background-color: $color-light;
    outline: none;
    font-family: $font-text;
    text-align: center;
    &:focus{
      box-shadow: 0 0 4px $color-dark;
      //transition: $transition;
    }
  }
}

.btn {
  cursor: pointer;
  color: $color-light;
  background-color: $color-secondary; 
  border-color: $color-rose;
  &:hover {
    background-color: darken($color: $color-secondary, $amount: 10);
    //transition: $transition;
  }
  border-radius: $radius;
  padding: 10px 20px;
  font-size: 18px;
  font-family: $font-text;
  .icon {
    margin-left: 5px;
  }
}